.section-container {
    padding: 60px 0;
}

.section-container h3 {
    text-align: center;
    font-weight: 600;
    color: #7FBA00;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.inventories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.manage-btn {
    display: grid;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #7FBA00;
}

.manage-btn:hover {
    background-color: #F55D2C;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
    .section-container {
        padding: 30px 0;
    }

    .section-container h3 {
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .inventories-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        margin: 0 20px;
    }
}