.inventory {
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
    border-radius: 10px;
}

.inventory img {
    width: 100px;
}